*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 1rem 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title{
    text-align: center;
    font-size: 2rem;
}

.container_note{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 1.5rem;
    gap: 2rem;
}

.subtitle{
    color: #51326e;
    text-align: center;
    margin-bottom: 2.5rem;
}
