.alert{
    background-color: #dd8585;
    color: #fff;
    padding: 1rem;
    border-radius: 30px;
    font-size: 1.5rem;
}

.container_card{
    text-align: right;
}

.card_task{
    border: 1px solid #86b771;
    padding: 25px;
    background-color: #86b771;
    width: 300px;
    margin: 20px;
}

.card_title{
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
    padding-bottom: 10px;
}

.card_btn{
    background: none;
    border: none;
    font-size: 1.9rem;
    cursor: pointer;
    color: white;
}