.active{
    color: red;
}

.inactive{
    color: gray;
}

.container{
    margin: 1rem;
}

.container_card{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 1rem;
}

.card img {
    width: 100%;
    height: 200px; /* Ajusta la altura según tus necesidades */
    object-fit: contain; /* Mantiene la proporción de la imagen y la ajusta dentro del contenedor */
    border-radius: 10px;
}

.card h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.card p {
    font-size: 1rem;
    margin: 0.5rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}